Repository portefaix/portefaix-infrastructure, changes with the labels that .github/labeler.yml gives for each.
All labels: area/terraform, area/ansible, area/inspec, area/github, cloud/alicloud, cloud/aws, cloud/azure, cloud/civo, cloud/digitalocean, cloud/exoscale, cloud/gcp, cloud/ibmcloud, cloud/scaleway, cloud/homelab, cloud/cicd

.github/labeler.yml:

# Copyright (C) Nicolas Lamirault <nicolas.lamirault@gmail.com>
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# SPDX-License-Identifier: Apache-2.0

# Labels for action/labeler

######################################
# Label area/xxx

area/terraform:
- changed-files:
  - any-glob-to-any-file: terraform/**

area/ansible:
- changed-files:
  - any-glob-to-any-file: ansible/**

area/inspec:
- changed-files:
  - any-glob-to-any-file: inspec/**

area/github:
- changed-files:
  - any-glob-to-any-file: .github/**

######################################
# Label cloud/xxx

cloud/alicloud:
- changed-files:
  - any-glob-to-any-file: terraform/alicloud/**/*

cloud/aws:
- changed-files:
  - any-glob-to-any-file: terraform/aws/**/*

cloud/azure:
- changed-files:
  - any-glob-to-any-file: terraform/azure/**/*

cloud/civo:
- changed-files:
  - any-glob-to-any-file: terraform/civo/**/*

cloud/digitalocean:
- changed-files:
  - any-glob-to-any-file: terraform/digitalocean/**/*

cloud/exoscale:
- changed-files:
  - any-glob-to-any-file: terraform/exoscale/**/*

cloud/gcp:
- changed-files:
  - any-glob-to-any-file: terraform/gcp/**/*

cloud/ibmcloud:
- changed-files:
  - any-glob-to-any-file: terraform/ibmcloud/**/*

cloud/scaleway:
- changed-files:
  - any-glob-to-any-file: terraform/scaleway/**/*

cloud/homelab:
- changed-files:
  - any-glob-to-any-file: ansible/**/*

cloud/cicd:
- changed-files:
  - any-glob-to-any-file: terraform/cicd/**/*

feat(azure): cleanup for Azurerm v4
  terraform/azure/agfc/dev/application_gateway.tf
  terraform/azure/aks/modules/aks/aks.tf
  terraform/azure/aks/modules/aks/variables.tf
  terraform/azure/bastion/modules/bastion/bastion.tf
  terraform/azure/bastion/modules/bastion/variables.tf
  terraform/azure/firewall/modules/firewall/firewall.tf
  terraform/azure/firewall/modules/firewall/variables.tf
  terraform/azure/monitor/modules/monitor/variables.tf
  terraform/azure/secrets/modules/secrets/secrets.tf
  terraform/azure/secrets/modules/secrets/variables.tf
Labels: area/terraform, cloud/azure

feat(azure): use Azure Verified Module for Container Registry
  terraform/azure/acr/modules/acr/acr.tf
Labels: area/terraform, cloud/azure

feat(azure): use Azure Verified Module for AKS
  terraform/azure/aks/dev/aks.tf
  terraform/azure/aks/dev/dev.auto.tfvars
  terraform/azure/aks/dev/variables.tf
  terraform/azure/aks/modules/aks/acr.tf
  terraform/azure/aks/modules/aks/aks.tf
  terraform/azure/aks/modules/aks/data.tf
  terraform/azure/aks/modules/aks/variables.tf
Labels: area/terraform, cloud/azure

feat(azure): use Azure Verified Module for Bastion
  terraform/azure/bastion/modules/bastion/bastion.tf
Labels: area/terraform, cloud/azure

feat(azure): use Azure Verified Module for Azure Firewall
  terraform/azure/firewall/modules/firewall/firewall.tf
Labels: area/terraform, cloud/azure

feat(azure): use Azure Verified Module for VNet
  terraform/azure/hub/modules/hub/variables.tf
  terraform/azure/hub/modules/hub/vnet.tf
  terraform/azure/hub/network/dev.auto.tfvars
  terraform/azure/hub/network/variables.tf
  terraform/azure/hub/network/vnet.tf
Labels: area/terraform, cloud/azure

feat(azure): use Azure Verified Module for Nat Gateway
  terraform/azure/nat-gateway/modules/nat-gateway/ip_address.tf
  terraform/azure/nat-gateway/modules/nat-gateway/nat_gateway.tf
Labels: area/terraform, cloud/azure

feat(azure): use Azure Verified Module for Vault
  terraform/azure/secrets/modules/secrets/secrets.tf
Labels: area/terraform, cloud/azure

feat(azure): missing files
  terraform/azure/aks/modules/aks/analytics.tf
  terraform/azure/bastion/modules/bastion/network.tf
  terraform/azure/firewall/modules/firewall/network.tf
Labels: area/terraform, cloud/azure

feat(terraform): bump AWS provider
  terraform/aws/eks/staging/main.tf
Labels: area/terraform, cloud/aws

feat(github): project management
  CODEOWNERS
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
Labels: none

feat(zero-trust): refactoring
  terraform/talos/zero-trust/modules/zero-trust/access.tf
  terraform/talos/zero-trust/modules/zero-trust/identity.tf
  terraform/talos/zero-trust/modules/zero-trust/policy.tf
  terraform/talos/zero-trust/modules/zero-trust/tunnel.tf
Labels: area/terraform

feat(talos): zero trust clean
  terraform/talos/zero-trust/modules/zero-trust/access.tf
  terraform/talos/zero-trust/modules/zero-trust/dex.tf
  terraform/talos/zero-trust/modules/zero-trust/identity.tf
  terraform/talos/zero-trust/modules/zero-trust/policy.tf
  terraform/talos/zero-trust/modules/zero-trust/variables.tf
Labels: area/terraform

feat(talos): clean
  terraform/talos/zero-trust/modules/zero-trust/variables.tf
Labels: area/terraform

feat(talos): clean naming
  terraform/talos/zero-trust/modules/zero-trust/access.tf
Labels: area/terraform

feat(oraclecloud): refactoring compartments
  Makefile
  hack/build/oci.mk
  terraform/oci/root/backend.tf
  terraform/oci/root/billing.tf
  terraform/oci/root/compartments.tf
  terraform/oci/root/groups.tf
  terraform/oci/root/locals.tf
  terraform/oci/root/main.tf
  terraform/oci/root/modules/billing/main.tf
  terraform/oci/root/tfvars/main.tfvars
Labels: area/terraform

feat(oraclecloud): add budgets
  terraform/oci/root/billing.tf
  terraform/oci/root/groups.tf
  terraform/oci/root/modules/billing/cost_budgets.tf
  terraform/oci/root/modules/billing/main.tf
  terraform/oci/root/modules/billing/outputs.tf
  terraform/oci/root/modules/billing/variables.tf
  terraform/oci/root/variables.tf
Labels: area/terraform

feat(oci): add hub
  terraform/oci/hub/modules/hub/hub.tf
  terraform/oci/hub/modules/hub/main.tf
  terraform/oci/hub/modules/hub/outputs.tf
  terraform/oci/hub/modules/hub/provider.tf
  terraform/oci/hub/modules/hub/variables.tf
  terraform/oci/hub/shared/README.md
  terraform/oci/hub/shared/hub.tf
  terraform/oci/hub/shared/main.tf
  terraform/oci/hub/shared/outputs.tf
  terraform/oci/hub/shared/provider.tf
  terraform/oci/hub/shared/shared.auto.tfvars
  terraform/oci/hub/shared/variables.tf
  terraform/oci/root/groups.tf
  terraform/oci/root/policies.tf
  terraform/oci/root/tags.tf
  terraform/oci/spacelift/backend-vars/main.tfvars
  terraform/oci/spacelift/backend.tf
  terraform/oci/spacelift/contexts.tf
  terraform/oci/spacelift/data.tf
  terraform/oci/spacelift/locals.tf
  terraform/oci/spacelift/main.tf
  terraform/oci/spacelift/outputs.tf
  terraform/oci/spacelift/provider.tf
  terraform/oci/spacelift/role.tf
  terraform/oci/spacelift/spaces.tf
  terraform/oci/spacelift/stacks.tf
  terraform/oci/spacelift/tfvars/main.tfvars
  terraform/oci/spacelift/variables.tf
Labels: area/terraform

feat(oci): clean Terraform outputs
  portefaix.sh
  terraform/oci/hub/modules/hub/outputs.tf
  terraform/oci/hub/modules/hub/variables.tf
  terraform/oci/hub/shared/hub.tf
  terraform/oci/spacelift/tfvars/main.tfvars
Labels: area/terraform

feat(oci): refactoring base64 contents
  portefaix.sh
  terraform/oci/hub/shared/provider.tf
  terraform/oci/root/provider.tf
  terraform/oci/root/variables.tf
  terraform/oci/spacelift/contexts.tf
  terraform/oci/spacelift/variables.tf
Labels: area/terraform

feat(oci): clean environments
  terraform/oci/hub/shared/provider.tf
  terraform/oci/hub/shared/shared.auto.tfvars
  terraform/oci/hub/shared/variables.tf
  terraform/oci/spacelift/contexts.tf
  terraform/oci/spacelift/tfvars/main.tfvars
Labels: area/terraform

feat(oci): clean variables
  terraform/oci/hub/shared/provider.tf
Labels: area/terraform

feat(oci): use environment variables
  terraform/oci/hub/shared/variables.tf
Labels: area/terraform

feat(oci): use environment variable for OCI provider
  terraform/oci/spacelift/contexts.tf
Labels: area/terraform

feat(oci): refactoring hub
  terraform/oci/hub/shared/variables.tf
  terraform/oci/spacelift/contexts.tf
Labels: area/terraform

feat(oci): refactoring hub entries
  terraform/oci/hub/modules/hub/hub.tf
Labels: area/terraform

feat(oci): Refactoring hub and spoke
  terraform/oci/hub/modules/hub/hub.tf
  terraform/oci/hub/modules/hub/variables.tf
  terraform/oci/hub/shared/hub.tf
  terraform/oci/hub/shared/shared.auto.tfvars
  terraform/oci/hub/shared/variables.tf
Labels: area/terraform

feat(oci): Refactoring hub and spoke
  terraform/oci/hub/shared/hub.tf
Labels: area/terraform

feat(oci): clean outputs
  terraform/oci/hub/modules/hub/outputs.tf
  terraform/oci/hub/shared/outputs.tf
Labels: area/terraform

feat(oci): compartment ids
  terraform/oci/hub/shared/shared.auto.tfvars
Labels: area/terraform

feat(oci): entry
  terraform/oci/hub/modules/hub/variables.tf
  terraform/oci/hub/shared/hub.tf
  terraform/oci/hub/shared/shared.auto.tfvars
Labels: area/terraform

feat(oci): routes and network cidr
  terraform/oci/hub/shared/shared.auto.tfvars
Labels: area/terraform

feat(oci): typo
  terraform/oci/hub/shared/shared.auto.tfvars
Labels: area/terraform

feat(oci): typo again
  terraform/oci/hub/shared/shared.auto.tfvars
Labels: area/terraform

feat(oci): typo statements
  terraform/oci/hub/shared/shared.auto.tfvars
Labels: area/terraform

feat(oci): cleanup
  terraform/oci/hub-spokes/modules/hub/hub.tf
  terraform/oci/hub-spokes/modules/hub/main.tf
  terraform/oci/hub-spokes/modules/hub/outputs.tf
  terraform/oci/hub-spokes/modules/hub/provider.tf
  terraform/oci/hub-spokes/modules/hub/variables.tf
  terraform/oci/hub-spokes/shared/README.md
  terraform/oci/hub-spokes/shared/hub.tf
  terraform/oci/hub-spokes/shared/main.tf
  terraform/oci/hub-spokes/shared/outputs.tf
  terraform/oci/hub-spokes/shared/provider.tf
  terraform/oci/hub-spokes/shared/shared.auto.tfvars
  terraform/oci/hub-spokes/shared/variables.tf
Labels: area/terraform

feat(oci): clean VCN
  terraform/oci/hub/modules/hub/drg.tf
  terraform/oci/hub/modules/hub/hub.tf
  terraform/oci/hub/modules/hub/main.tf
  terraform/oci/hub/modules/hub/outputs.tf
  terraform/oci/hub/modules/hub/security.tf
  terraform/oci/hub/modules/hub/subnets.tf
  terraform/oci/hub/modules/hub/variables.tf
  terraform/oci/hub/shared/.terraform-version
  terraform/oci/hub/shared/backend.tf
  terraform/oci/hub/shared/hub.tf
  terraform/oci/hub/shared/main.tf
  terraform/oci/hub/shared/outputs.tf
  terraform/oci/hub/shared/provider.tf
  terraform/oci/hub/shared/shared.auto.tfvars
  terraform/oci/hub/shared/variables.tf
  terraform/oci/spacelift/tfvars/main.tfvars
  terraform/oci/vcn/dev/dev.auto.tfvars
  terraform/oci/vcn/dev/main.tf
  terraform/oci/vcn/dev/outputs.tf
  terraform/oci/vcn/dev/provider.tf
  terraform/oci/vcn/dev/variables.tf
  terraform/oci/vcn/dev/vcn.tf
  terraform/oci/vcn/modules/vcn/locals.tf
  terraform/oci/vcn/modules/vcn/main.tf
  terraform/oci/vcn/modules/vcn/outputs.tf
  terraform/oci/vcn/modules/vcn/subnets.tf
  terraform/oci/vcn/modules/vcn/variables.tf
  terraform/oci/vcn/modules/vcn/vcn.tf
Labels: area/terraform

feat(project)!: add open source project best practice files
  .github/CODEOWNERS
  .github/release-drafter.yml
  .github/release-please-config.json
  .github/workflows/release-drafter.yml
  .github/workflows/release-please.yml
  .release-please-manifest.json
  .rumdl.toml
  .taplo.toml
  .yamlfmt.yaml
  CHANGELOG.md
  CITATION.cff
  DCO
  SECURITY.md
  hack/header.txt
  licenserc.toml
Labels: area/github

update settings
  .github/settings.yml
Labels: area/github

chore(changelog): restrict v2.0.0 entries to PRs #1977 and #1980
  CHANGELOG.md
Labels: none
