Repository portefaix/portefaix-infrastructure, changes with the labels that .github/labeler.yml gives for each.
All labels: area/terraform, area/ansible, area/inspec, area/github, cloud/alicloud, cloud/aws, cloud/azure, cloud/civo, cloud/digitalocean, cloud/exoscale, cloud/gcp, cloud/ibmcloud, cloud/scaleway, cloud/homelab, cloud/cicd

.github/labeler.yml:

# Copyright (C) Nicolas Lamirault <nicolas.lamirault@gmail.com>
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# SPDX-License-Identifier: Apache-2.0

# Labels for action/labeler

######################################
# Label area/xxx

area/terraform:
- changed-files:
  - any-glob-to-any-file: terraform/**

area/ansible:
- changed-files:
  - any-glob-to-any-file: ansible/**

area/inspec:
- changed-files:
  - any-glob-to-any-file: inspec/**

area/github:
- changed-files:
  - any-glob-to-any-file: .github/**

######################################
# Label cloud/xxx

cloud/alicloud:
- changed-files:
  - any-glob-to-any-file: terraform/alicloud/**/*

cloud/aws:
- changed-files:
  - any-glob-to-any-file: terraform/aws/**/*

cloud/azure:
- changed-files:
  - any-glob-to-any-file: terraform/azure/**/*

cloud/civo:
- changed-files:
  - any-glob-to-any-file: terraform/civo/**/*

cloud/digitalocean:
- changed-files:
  - any-glob-to-any-file: terraform/digitalocean/**/*

cloud/exoscale:
- changed-files:
  - any-glob-to-any-file: terraform/exoscale/**/*

cloud/gcp:
- changed-files:
  - any-glob-to-any-file: terraform/gcp/**/*

cloud/ibmcloud:
- changed-files:
  - any-glob-to-any-file: terraform/ibmcloud/**/*

cloud/scaleway:
- changed-files:
  - any-glob-to-any-file: terraform/scaleway/**/*

cloud/homelab:
- changed-files:
  - any-glob-to-any-file: ansible/**/*

cloud/cicd:
- changed-files:
  - any-glob-to-any-file: terraform/cicd/**/*

feat(oci): clean hub and spoke
  terraform/oci/hub/modules/hub/drg.tf
  terraform/oci/hub/modules/hub/outputs.tf
  terraform/oci/hub/modules/hub/security.tf
  terraform/oci/hub/modules/hub/subnets.tf
  terraform/oci/vcn/dev/dev.auto.tfvars
  terraform/oci/vcn/dev/variables.tf
  terraform/oci/vcn/modules/vcn/variables.tf
  terraform/oci/vcn/modules/vcn/vcn.tf
Labels: area/terraform

feat(ibm): refactoring architecture
  terraform/ibmcloud/hub/dev/hub.tf
  terraform/ibmcloud/hub/dev/main.tf
  terraform/ibmcloud/hub/dev/outputs.tf
  terraform/ibmcloud/hub/dev/variables.tf
  terraform/ibmcloud/hub/modules/hub/hub.tf
  terraform/ibmcloud/hub/modules/hub/locals.tf
  terraform/ibmcloud/hub/modules/hub/main.tf
  terraform/ibmcloud/hub/modules/hub/outputs.tf
  terraform/ibmcloud/hub/modules/hub/provider.tf
  terraform/ibmcloud/hub/modules/hub/variables.tf
  terraform/ibmcloud/transit-gateway/dev/hub.tf
  terraform/ibmcloud/transit-gateway/dev/main.tf
  terraform/ibmcloud/transit-gateway/dev/outputs.tf
  terraform/ibmcloud/transit-gateway/dev/variables.tf
  terraform/ibmcloud/transit-gateway/modules/transit-gateway/locals.tf
  terraform/ibmcloud/transit-gateway/modules/transit-gateway/main.tf
  terraform/ibmcloud/transit-gateway/modules/transit-gateway/outputs.tf
  terraform/ibmcloud/transit-gateway/modules/transit-gateway/provider.tf
  terraform/ibmcloud/transit-gateway/modules/transit-gateway/transit-gateway.tf
  terraform/ibmcloud/transit-gateway/modules/transit-gateway/variables.tf
  terraform/ibmcloud/vpc-old/terraform/.terraform-version
  terraform/ibmcloud/vpc-old/terraform/backend-vars/staging.tfvars
  terraform/ibmcloud/vpc-old/terraform/backend.tf
  terraform/ibmcloud/vpc-old/terraform/data.tf
  terraform/ibmcloud/vpc-old/terraform/main.tf
  terraform/ibmcloud/vpc-old/terraform/outputs.tf
  terraform/ibmcloud/vpc-old/terraform/provider.tf
  terraform/ibmcloud/vpc-old/terraform/tfvars/staging.tfvars
  terraform/ibmcloud/vpc-old/terraform/variables.tf
  terraform/ibmcloud/vpc-old/terraform/vpc.tf
  terraform/ibmcloud/vpc/dev/hub.tf
  terraform/ibmcloud/vpc/dev/main.tf
  terraform/ibmcloud/vpc/dev/outputs.tf
  terraform/ibmcloud/vpc/dev/variables.tf
  terraform/ibmcloud/vpc/modules/vpc/locals.tf
  terraform/ibmcloud/vpc/modules/vpc/main.tf
  terraform/ibmcloud/vpc/modules/vpc/outputs.tf
  terraform/ibmcloud/vpc/modules/vpc/provider.tf
  terraform/ibmcloud/vpc/modules/vpc/variables.tf
  terraform/ibmcloud/vpc/modules/vpc/vpc.tf
Labels: area/terraform, cloud/ibmcloud

fix(spacelift): DigitalOcean config
  terraform/digitalocean/spacelift/contexts.tf
Labels: area/terraform, cloud/digitalocean

fix(spacelift): DigitalOcean cleanup for Container Registry
  terraform/digitalocean/containerregistry/dev/backend.tf
  terraform/digitalocean/spacelift/contexts.tf
Labels: area/terraform, cloud/digitalocean

feat(digitalocean): bump kubernetes version
  terraform/digitalocean/doks/dev/backend.tf
  terraform/digitalocean/doks/dev/dev.auto.tfvars
Labels: area/terraform, cloud/digitalocean

feat(digitalocean): move to main
  terraform/digitalocean/spacelift/tfvars/main.tfvars
Labels: area/terraform, cloud/digitalocean

feat(exoscale): add IAM
  terraform/exoscale/iam/modules/iam/iam.tf
  terraform/exoscale/iam/modules/iam/locals.tf
  terraform/exoscale/iam/modules/iam/main.tf
  terraform/exoscale/iam/modules/iam/outputs.tf
  terraform/exoscale/iam/modules/iam/variables.tf
  terraform/exoscale/iam/sandbox/iam.tf
  terraform/exoscale/iam/sandbox/main.tf
  terraform/exoscale/iam/sandbox/outputs.tf
  terraform/exoscale/iam/sandbox/provider.tf
  terraform/exoscale/iam/sandbox/sandbox.auto.tfvars
  terraform/exoscale/iam/sandbox/variables.tf
  terraform/exoscale/spacelift/tfvars/main.tfvars
Labels: area/terraform, cloud/exoscale

feat(exoscale): clean
  terraform/exoscale/iam/modules/iam/iam.tf
Labels: area/terraform, cloud/exoscale

feat(exoscale): typo
  terraform/exoscale/iam/modules/iam/iam.tf
Labels: area/terraform, cloud/exoscale

feat(exoscale): typo again
  terraform/exoscale/iam/modules/iam/iam.tf
Labels: area/terraform, cloud/exoscale

feat(exoscale): cleanup
  terraform/exoscale/iam/modules/iam/iam.tf
  terraform/exoscale/iam/modules/iam/locals.tf
  terraform/exoscale/iam/modules/iam/main.tf
  terraform/exoscale/iam/modules/iam/outputs.tf
  terraform/exoscale/iam/modules/iam/variables.tf
  terraform/exoscale/iam/sandbox/iam.tf
  terraform/exoscale/iam/sandbox/main.tf
  terraform/exoscale/iam/sandbox/outputs.tf
  terraform/exoscale/iam/sandbox/provider.tf
  terraform/exoscale/iam/sandbox/sandbox.auto.tfvars
  terraform/exoscale/iam/sandbox/variables.tf
  terraform/exoscale/spacelift/tfvars/main.tfvars
Labels: area/terraform, cloud/exoscale

feat(resource-explorer): setup
  terraform/aws/root/delegated_admins.tf
  terraform/aws/root/resource_exporer.tf
  terraform/aws/root/variables.tf
Labels: area/terraform, cloud/aws

feat(resource-explorer): change to AGREEGATOR
  terraform/aws/root/resource_exporer.tf
Labels: area/terraform, cloud/aws

feat(aws/config): do not used deprecated arguments
  terraform/aws/config/modules/config/iam_config.tf
Labels: area/terraform, cloud/aws

fix(eks): use cluster name from EKS module
  terraform/aws/eks/modules/eks/alb_controller.tf
  terraform/aws/eks/modules/eks/appmesh.tf
  terraform/aws/eks/modules/eks/ebs_csi_driver.tf
  terraform/aws/eks/modules/eks/efs_csi_driver.tf
  terraform/aws/eks/modules/eks/eso.tf
  terraform/aws/eks/modules/eks/fsx_csi_driver.tf
  terraform/aws/eks/modules/eks/node_termination_handler.tf
  terraform/aws/eks/modules/eks/secret_store_csi_driver.tf
Labels: area/terraform, cloud/aws

fix(eks): naming
  terraform/aws/config/modules/config/iam_config.tf
Labels: area/terraform, cloud/aws

fix(eks): iam role
  terraform/aws/config/modules/config/iam_config.tf
Labels: area/terraform, cloud/aws

feat(cert-manager): bump to v2.1.0 for GCP
  terraform/gcp/cert-manager/modules/cert-manager/cert-manager.tf
Labels: area/terraform, cloud/gcp

feat(github): typo
  .dprint.json
  .pre-commit-config.yaml
Labels: none

feat(tool): refactoring using Infisical
  portefaix.sh
Labels: none

fix(tools): cleanup
  portefaix.sh
Labels: none

feat(terraform): bump Cloudflare v5
  terraform/talos/observability/modules/observability/main.tf
Labels: area/terraform

feat(terraform): bump Cloudflare v5
  terraform/talos/dns/homelab/main.tf
  terraform/talos/dns/modules/dns/main.tf
  terraform/talos/waf/homelab/main.tf
  terraform/talos/waf/modules/waf/main.tf
Labels: area/terraform

feat(terraform): retrieve zone
  terraform/talos/waf/modules/waf/data.tf
Labels: area/terraform

fix(terraform): Cloudflare WAF resources
  portefaix.sh
  terraform/talos/waf/homelab/variables.tf
  terraform/talos/waf/homelab/waf.tf
  terraform/talos/waf/modules/waf/data.tf
  terraform/talos/waf/modules/waf/firewall.tf
  terraform/talos/waf/modules/waf/provider.tf
  terraform/talos/waf/modules/waf/variables.tf
Labels: area/terraform

feat(talos): Observability buckets
  terraform/talos/observability/homelab/homelab.auto.tfvars
  terraform/talos/observability/homelab/main.tf
  terraform/talos/observability/homelab/observability.tf
  terraform/talos/observability/homelab/variables.tf
  terraform/talos/observability/modules/observability/buckets.tf
  terraform/talos/observability/modules/observability/provider.tf
  terraform/talos/observability/modules/observability/variables.tf
  terraform/talos/waf/modules/waf/firewall.tf
Labels: area/terraform

feat(terraform): cleanup
  portefaix.sh
  terraform/talos/spacelift/provider.tf
  terraform/talos/spacelift/spaces.tf
Labels: area/terraform

feat(terraform): add Profiles bucket
  terraform/talos/observability/homelab/homelab.auto.tfvars
Labels: area/terraform

feat(talos): cleanup Cloudflare
  terraform/talos/dns/homelab/dns.tf
  terraform/talos/dns/homelab/provider.tf
  terraform/talos/dns/homelab/variables.tf
  terraform/talos/dns/modules/dns/provider.tf
  terraform/talos/dns/modules/dns/variables.tf
  terraform/talos/observability/homelab/provider.tf
  terraform/talos/spacelift/contexts.tf
  terraform/talos/tunnel/homelab/provider.tf
  terraform/talos/tunnel/homelab/tunnel.tf
  terraform/talos/tunnel/homelab/variables.tf
  terraform/talos/tunnel/modules/tunnel/provider.tf
  terraform/talos/tunnel/modules/tunnel/variables.tf
  terraform/talos/waf/homelab/provider.tf
  terraform/talos/waf/modules/waf/provider.tf
Labels: area/terraform

feat(talos): bump Tunnel module to v5
  terraform/talos/tunnel/homelab/main.tf
  terraform/talos/tunnel/modules/tunnel/main.tf
Labels: area/terraform

feat(talos): clean Tunnel module
  terraform/talos/tunnel/modules/tunnel/access.tf
Labels: area/terraform

feat(talos): data source for zone
  terraform/talos/tunnel/modules/tunnel/data.tf
Labels: area/terraform

feat(talos): data source for Tunnel
  terraform/talos/tunnel/modules/tunnel/data.tf
Labels: area/terraform

feat(talos): clean tunnel applications
  terraform/talos/tunnel/homelab/homelab.auto.tfvars
Labels: area/terraform

feat(talos): use v4
  terraform/talos/tunnel/homelab/main.tf
  terraform/talos/tunnel/modules/tunnel/access.tf
  terraform/talos/tunnel/modules/tunnel/main.tf
Labels: area/terraform

feat(talos): use v4
  terraform/talos/tunnel/modules/tunnel/data.tf
Labels: area/terraform

feat(talos): use v5
  terraform/talos/tunnel/homelab/main.tf
  terraform/talos/tunnel/modules/tunnel/data.tf
  terraform/talos/tunnel/modules/tunnel/main.tf
Labels: area/terraform

feat(talos): refactoring zero trust
  terraform/talos/tunnel/modules/tunnel/access.tf
Labels: area/terraform

feat(talos): refactoring zero trust
  terraform/talos/tunnel/modules/tunnel/access.tf
  terraform/talos/tunnel/modules/tunnel/variables.tf
Labels: area/terraform

feat(talos): add email
  terraform/talos/spacelift/contexts.tf
  terraform/talos/spacelift/variables.tf
  terraform/talos/tunnel/homelab/tunnel.tf
Labels: area/terraform
