Repository portefaix/portefaix-infrastructure, changes with the labels that .github/labeler.yml gives for each.
All labels: area/terraform, area/ansible, area/inspec, area/github, cloud/alicloud, cloud/aws, cloud/azure, cloud/civo, cloud/digitalocean, cloud/exoscale, cloud/gcp, cloud/ibmcloud, cloud/scaleway, cloud/homelab, cloud/cicd

.github/labeler.yml:

# Copyright (C) Nicolas Lamirault <nicolas.lamirault@gmail.com>
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# SPDX-License-Identifier: Apache-2.0

# Labels for action/labeler

######################################
# Label area/xxx

area/terraform:
- changed-files:
  - any-glob-to-any-file: terraform/**

area/ansible:
- changed-files:
  - any-glob-to-any-file: ansible/**

area/inspec:
- changed-files:
  - any-glob-to-any-file: inspec/**

area/github:
- changed-files:
  - any-glob-to-any-file: .github/**

######################################
# Label cloud/xxx

cloud/alicloud:
- changed-files:
  - any-glob-to-any-file: terraform/alicloud/**/*

cloud/aws:
- changed-files:
  - any-glob-to-any-file: terraform/aws/**/*

cloud/azure:
- changed-files:
  - any-glob-to-any-file: terraform/azure/**/*

cloud/civo:
- changed-files:
  - any-glob-to-any-file: terraform/civo/**/*

cloud/digitalocean:
- changed-files:
  - any-glob-to-any-file: terraform/digitalocean/**/*

cloud/exoscale:
- changed-files:
  - any-glob-to-any-file: terraform/exoscale/**/*

cloud/gcp:
- changed-files:
  - any-glob-to-any-file: terraform/gcp/**/*

cloud/ibmcloud:
- changed-files:
  - any-glob-to-any-file: terraform/ibmcloud/**/*

cloud/scaleway:
- changed-files:
  - any-glob-to-any-file: terraform/scaleway/**/*

cloud/homelab:
- changed-files:
  - any-glob-to-any-file: ansible/**/*

cloud/cicd:
- changed-files:
  - any-glob-to-any-file: terraform/cicd/**/*

feat(talos): add email variable
  terraform/talos/tunnel/homelab/variables.tf
Labels: area/terraform

feat(talos): clean policies
  terraform/talos/tunnel/modules/tunnel/access.tf
Labels: area/terraform

feat(talos): github organization name
  terraform/talos/tunnel/modules/tunnel/locals.tf
Labels: area/terraform

feat(python): cleanup
  poetry.lock
  poetry.toml
  portefaix.sh
Labels: none

feat(talos): refactoring zero trust
  terraform/talos/spacelift/contexts.tf
  terraform/talos/spacelift/tfvars/main.tfvars
  terraform/talos/zero-trust/homelab/homelab.auto.tfvars
  terraform/talos/zero-trust/homelab/main.tf
  terraform/talos/zero-trust/homelab/outputs.tf
  terraform/talos/zero-trust/homelab/provider.tf
  terraform/talos/zero-trust/homelab/variables.tf
  terraform/talos/zero-trust/homelab/zero-trust.tf
  terraform/talos/zero-trust/modules/zero-trust/access.tf
  terraform/talos/zero-trust/modules/zero-trust/data.tf
  terraform/talos/zero-trust/modules/zero-trust/locals.tf
  terraform/talos/zero-trust/modules/zero-trust/main.tf
  terraform/talos/zero-trust/modules/zero-trust/provider.tf
  terraform/talos/zero-trust/modules/zero-trust/variables.tf
Labels: area/terraform

feat(talos): refactoring zero trust
  terraform/talos/spacelift/contexts.tf
  terraform/talos/zero-trust/modules/zero-trust/locals.tf
  terraform/talos/zero-trust/modules/zero-trust/outputs.tf
Labels: area/terraform

feat(talos): refactoring zero trust zone
  terraform/talos/zero-trust/modules/zero-trust/data.tf
Labels: area/terraform

feat(talos): cleanup
  terraform/talos/zero-trust/modules/zero-trust/data.tf
Labels: area/terraform

feat(talos): cleanup
  terraform/talos/zero-trust/modules/zero-trust/data.tf
Labels: area/terraform

feat(talos): cleanup again
  terraform/talos/zero-trust/modules/zero-trust/data.tf
  terraform/talos/zero-trust/modules/zero-trust/locals.tf
  terraform/talos/zero-trust/modules/zero-trust/outputs.tf
Labels: area/terraform

feat(talos): clean Zero trust
  portefaix.sh
  terraform/talos/spacelift/contexts.tf
  terraform/talos/spacelift/variables.tf
  terraform/talos/zero-trust/homelab/variables.tf
  terraform/talos/zero-trust/homelab/zero-trust.tf
  terraform/talos/zero-trust/modules/zero-trust/data.tf
  terraform/talos/zero-trust/modules/zero-trust/variables.tf
Labels: area/terraform

feat(talos): clean
  terraform/talos/zero-trust/homelab/homelab.auto.tfvars
Labels: area/terraform

feat(talos): add some applications
  terraform/talos/zero-trust/homelab/homelab.auto.tfvars
Labels: area/terraform

feat(talos): add Tunnel
  terraform/talos/zero-trust/homelab/homelab.auto.tfvars
  terraform/talos/zero-trust/homelab/variables.tf
  terraform/talos/zero-trust/modules/zero-trust/access.tf
  terraform/talos/zero-trust/modules/zero-trust/variables.tf
Labels: area/terraform

feat(talos): clean policies
  terraform/talos/zero-trust/modules/zero-trust/access.tf
Labels: area/terraform

feat(talos): add missing variable
  terraform/talos/zero-trust/homelab/zero-trust.tf
Labels: area/terraform

feat(talos): tunnel
  terraform/talos/zero-trust/modules/zero-trust/access.tf
Labels: area/terraform

feat(talos): typo
  terraform/talos/zero-trust/modules/zero-trust/access.tf
Labels: area/terraform

feat(talos): Refactoring WAF
  terraform/talos/waf/homelab/homelab.auto.tfvars
  terraform/talos/waf/homelab/variables.tf
  terraform/talos/waf/homelab/waf.tf
  terraform/talos/waf/modules/waf/data.tf
  terraform/talos/waf/modules/waf/firewall.tf
  terraform/talos/waf/modules/waf/variables.tf
Labels: area/terraform

feat(talos): clean waf
  terraform/talos/waf/modules/waf/firewall.tf
Labels: area/terraform

feat(talos): clean waf ruleset
  terraform/talos/spacelift/tfvars/main.tfvars
  terraform/talos/waf/modules/waf/firewall.tf
Labels: area/terraform

feat(talos): set account
  terraform/talos/waf/modules/waf/firewall.tf
Labels: area/terraform

feat(talos): clean
  terraform/talos/spacelift/tfvars/main.tfvars
Labels: area/terraform

feat(talos): clean
  poetry.lock
Labels: none

fix(aws): V6 migration cleanup
  terraform/aws/bastion/modules/bastion/main.tf
  terraform/aws/bastion/staging/main.tf
  terraform/aws/eks/modules/eks/main.tf
  terraform/aws/eks/staging/main.tf
  terraform/aws/observability/modules/observability/observability.tf
Labels: area/terraform, cloud/aws

feat(aws): split Fargate
  terraform/aws/eks/modules/eks/fargate.tf
Labels: area/terraform, cloud/aws

feat(aws): typo
  terraform/aws/alb/modules/alb/main.tf
  terraform/aws/alb/staging/main.tf
  terraform/aws/spacelift/backend.tf
Labels: area/terraform, cloud/aws

feat(aws): clean workspace
  portefaix.sh
  terraform/aws/alb/modules/alb/main.tf
  terraform/aws/alb/staging/main.tf
  terraform/aws/spacelift/backend-vars/main.tfvars
  terraform/aws/spacelift/variables.tf
Labels: area/terraform, cloud/aws

fix(tool): refactoring Infisical
  portefaix.sh
Labels: none

fix(gcp): Terraform validation
  terraform/gcp/external-dns/modules/external-dns/external_dns.tf
  terraform/gcp/observability/dev/outputs.tf
  terraform/gcp/observability/modules/observability/observability.tf
  terraform/gcp/observability/modules/observability/outputs.tf
Labels: area/terraform, cloud/gcp

feat(talos): setup machines
  hack/talos/homelab/patches/patch-global-kubelet.yaml
  hack/talos/homelab/patches/patch-global-time.yaml
  hack/talos/homelab/talconfig.yaml
Labels: none

feat(talos): GracefulNodeShutdown is GA
  hack/talos/homelab/patches/patch-global-kubelet.yaml
Labels: none

feat(talos): Add multiple NTP servers for resiliency
  hack/talos/homelab/patches/patch-global-time.yaml
Labels: none

feat(talos): add node labels for worker
  hack/talos/homelab/patches/patch-worker-node.yaml
Labels: none

feat(talos): cleanup
  hack/talos/homelab/patches/patch-controlplane-kubelet.yaml
  hack/talos/homelab/talconfig.yaml
Labels: none

feat(talos): cleanup
  hack/talos/homelab/patches/patch-global-kubelet.yaml
Labels: none

feat(azure): cleanup ACR
  terraform/azure/acr/modules/acr/acr.tf
  terraform/azure/acr/modules/acr/variables.tf
Labels: area/terraform, cloud/azure

feat(azure): refactoring vnet using Azure avm modules
  terraform/azure/vnet/dev/dev.auto.tfvars
  terraform/azure/vnet/dev/main.tf
  terraform/azure/vnet/dev/variables.tf
  terraform/azure/vnet/dev/vnet.tf
  terraform/azure/vnet/modules/vnet/main.tf
  terraform/azure/vnet/modules/vnet/sg.tf
  terraform/azure/vnet/modules/vnet/variables.tf
  terraform/azure/vnet/modules/vnet/vnet.tf
Labels: area/terraform, cloud/azure

feat(azure): refactoring vnet using Azure avm modules
  terraform/azure/nat-gateway/modules/nat-gateway/ip_address.tf
  terraform/azure/nat-gateway/modules/nat-gateway/nat_gateway.tf
  terraform/azure/nat-gateway/modules/nat-gateway/variables.tf
Labels: area/terraform, cloud/azure

feat(azure): bump observability module to v3.0.0
  terraform/azure/observability/modules/observability/observability.tf
  terraform/azure/velero/dev/README.md
  terraform/azure/velero/dev/backend.tf
  terraform/azure/velero/dev/dev.auto.tfvars
  terraform/azure/velero/dev/main.tf
  terraform/azure/velero/dev/outputs.tf
  terraform/azure/velero/dev/provider.tf
  terraform/azure/velero/dev/variables.tf
  terraform/azure/velero/dev/velero.tf
  terraform/azure/velero/modules/velero/README.md
  terraform/azure/velero/modules/velero/main.tf
  terraform/azure/velero/modules/velero/outputs.tf
  terraform/azure/velero/modules/velero/provider.tf
  terraform/azure/velero/modules/velero/variables.tf
  terraform/azure/velero/modules/velero/velero.tf
Labels: area/terraform, cloud/azure
